@import 'tailwindcss';

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #e4dd3b;
  --accent-orange: #ff9500;

  color-scheme: dark;
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-accent-orange: var(--accent-orange);
  --font-sans: var(--font-montserrat);
  --font-display: var(--font-dela-gothic);
}

body {
  background: var(--background);
  color: var(--foreground);
}

.custom-text-shadow {
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000;
}

@import '../styles/landing.css';
